//colores
$bodyColor: linear-gradient(to top, rgb(146, 64, 253), rgb(211, 143, 250));
$headerColor: linear-gradient(to top, rgb(216, 216, 2), rgb(247, 247, 118));

//fonts
$globalFont: "Roboto", sans-serif;
$navaFont: "Roboto", sans-serif;
$h1Font: 'Berkshire Swash', cursive;
$h2Font: "Roboto", sans-serif;



